<html lang='en'>

<head>
  <meta charset='UTF-8' />
  <meta http-equiv='X-UA-Compatible' content='IE=edge' />
  <meta name='viewport' content='width=device-width, initial-scale=1.0' />
  <title>Home</title>
  <style>
    .main {
      display: flex;
      height: 100%;
      width: 100%;
      justify-content: center;
      align-items: center;
      background-color: cornflowerblue;
    }

    .container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-top: 35px;
      border: 2.5px solid rgb(0, 0, 0);
      width: 8cm;
      height: 13cm;
      border-radius: 10px;
      padding: 10px 0;
      background-color: #ADD8E6
    }

    img {
      width: 50%;
      height: 50%;
    }

    a {
      text-decoration: none;
      padding: 5px;
      align-items: center;
      justify-content: center;
      color: black;
      border: 2px solid black;
      border-radius: 5px;
      background-color: rgb(213, 238, 73);
      width: 5cm;
      font-weight: bold;
      text-align: center;
    }
  </style>
</head>

<body>
  <div class='main'>
    <div class='container'>
      <img src='https://cdn-icons-png.flaticon.com/512/25/25231.png' alt='github' />
      <h1>Login Using Github</h1>
      <a href='http://localhost:5008/login'>
        Login
      </a>
    </div>
  </div>
</body>

</html>
